<div class="page-header">
  <%= link_to bate_papos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Novo bate_papo</h1>
</div>

<%= render 'form' %>
