<div class="page-header">
  <%= link_to bate_papos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_bate_papo_path(@bate_papo), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar bate_papo</h1>
</div>

<dl class="dl-horizontal">
  <dt>Usuario:</dt>
  <dd><%= @bate_papo.usuario %></dd>

  <dt>Mensagem:</dt>
  <dd><%= @bate_papo.mensagem %></dd>

</dl>
