<h1>Bate Papo</h1>

<div id="messages">
  <%= render @messages %>
</div>
 
<form>
  <label>Mandar mensagem</label>
  <input type="text" data-behavior="room_speaker" placeholder=" Diga alguma coisa :) ">
</form>
